# Public config used by the static site
NEXT_PUBLIC_DISCOVERY_API_URL=http://localhost:9001/api/v1
NEXT_PUBLIC_DISCOVERY_MODE=arkiv
NEXT_PUBLIC_PORT_CHECKER_URL=http://localhost:9000
# WARNING: Exposed to clients. Use a token suitable for public use.
NEXT_PUBLIC_PORT_CHECKER_TOKEN=

# Payments / chain
NEXT_PUBLIC_STREAM_PAYMENT_ADDRESS=0x00E67b653b70dC07385CBE4c0Be6BF7B6EA45f7C
NEXT_PUBLIC_GLM_TOKEN_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_EVM_CHAIN_ID=0x6013a
NEXT_PUBLIC_EVM_CHAIN_NAME=Arkiv L2 Hoodi
NEXT_PUBLIC_EVM_RPC_URL=https://l2.hoodi.arkiv.network/rpc
NEXT_PUBLIC_EVM_EXPLORER_URL=https://explorer.l2.hoodi.arkiv.network
