# Public config used by the static site
NEXT_PUBLIC_DISCOVERY_API_URL=http://localhost:9001/api/v1
NEXT_PUBLIC_DISCOVERY_MODE=central
NEXT_PUBLIC_PORT_CHECKER_URL=http://localhost:9000
NEXT_PUBLIC_PROVIDER_API_PORT=7466
# WARNING: Exposed to clients. Use a token suitable for public use.
NEXT_PUBLIC_PORT_CHECKER_TOKEN=dev-token

# Payments / chain
NEXT_PUBLIC_STREAM_PAYMENT_ADDRESS=0x3EaBfECFa1A2Acb99Af4520eB3fc963D2ED0ffE6
NEXT_PUBLIC_GLM_TOKEN_ADDRESS=0x55555555555556AcFf9C332Ed151758858bd7a26
NEXT_PUBLIC_EVM_CHAIN_ID=0x88bb0
NEXT_PUBLIC_EVM_CHAIN_NAME=Ethereum Hoodi
NEXT_PUBLIC_EVM_RPC_URL=https://ethereum-hoodi-rpc.publicnode.com
NEXT_PUBLIC_EVM_EXPLORER_URL=https://hoodi.etherscan.io
